node_modules/

dependencies/

# Artifacts
build/
bin/
coverage/
coverage.json
typechain-types/
artifacts/
cache/
docgen/
flat/
out/            

# IDEs
.idea/
.vscode/

# NPM
gas-report
/bin/

.storage_delta_cache
storage_delta
